.recipeTile__img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.recipeTile__name{
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
}
.app__helthLabels{
    padding: 7px 8px;
    margin-left: 6px;
    border-radius: 4px;
}